/* .add-user {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  margin: 2rem auto;
  width: 400px;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.add-user__input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  width: 20rem;
  max-width: 100%;
}

.add-user__actions {
  text-align: left;
}
   */

.add-user {
  background: white; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.add-user label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.add-user input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.add-user input:focus {
  outline: none;
  border-color: #4f005f;
}